<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gakusei</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/trang-ca-nhan.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/fontawesome-free-6.4.0-web/css/all.min.css">
</head>

<body>
    <div class="app">
        <header class="header">
            <nav class="header__navbar">
                <div class="header__navbar-left">
                    <a href="/">
                        <button type="submit" class="button" style="width: 60px;">
                            <img src="/img/Logo.png" class="header__navbar-logo">
                        </button>
                    </a>

                    <form action="/tim-kiem" method="GET">
                        <div class="header__navbar-search">
                            <input type="text" name="maGV" class="header__navbar-input"
                                placeholder="Tìm kiếm thông tin giáo viên">
                            <button type="submit" class="button" style="background-color: #fff;">
                                <i class="fa-solid fa-magnifying-glass icon"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <ul class="header__navbar-list">
                    <li class="header__navbar-item">
                        <button type="submit" class="button">
                            <div class="header__navbar-help separate">
                                <i class="fa-regular fa-circle-question"></i> Trợ giúp
                            </div>
                        </button>
                    </li>
                    <li class="header__navbar-item separate">
                        <button type="submit" class="button">
                            <div class="header__navbar-name" style="margin: 0;">
                                <i class="fa-solid fa-user"></i> {{this_user.name}} {{this_user.username}}
                            </div>
                        </button>
                    </li>

                    <li class="header__navbar-item" style="margin: 0">
                        <div class="button" onclick="toggleDropdown()">
                            <div class="header__navbar-logout" style="padding-left: 3px;">
                                <i class="fa-solid fa-bars"></i>
                            </div>
                            <div class="header__navar-menu">
                                <div class="menu" id="myDropdown">
                                    <a href="/trang-ca-nhan">
                                        <button type="submit" class="menu-item" style="margin: 0;"
                                            href="/trang-ca-nhan">
                                            <i class="fa-sharp fa-solid fa-user"></i> Trang cá nhân
                                        </button>
                                    </a>
                                    <a href="/doi-mat-khau">
                                        <button type="submit" class="menu-item" style="margin: 0;">
                                            <i class="fa-solid fa-lock"></i> Đổi mật khẩu
                                        </button>
                                    </a>
                                    <form action="/dang-xuat?_method=DELETE" method="POST">
                                        <button type="submit" class="menu-item" style="margin: 0;">
                                            <i class="fa-solid fa-right-from-bracket"></i> Đăng xuất
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="container">
            <h1 class="container__title">Trang thông tin giáo viên</h1>
            <div class="container__user-infor">
                <div class="container__user-infor-field">
                    <label for="name" class="container__user-infor-field-name">Họ và tên:</label>
                    <div class="container__user-infor-field-input" id="name">{{HoTen}}</div>
                </div>
                <div class="container__user-infor-field">
                    <label for="id" class="container__user-infor-field-name">MSGV:</label>
                    <div class="container__user-infor-field-input" id="id">{{MSGV}}</div>
                </div>
                <div class="container__user-infor-field">
                    <label for="place" class="container__user-infor-field-name">Số điện thoại:</label>
                    <div class="container__user-infor-field-input" id="place">{{SDT}}</div>
                </div>
                <div class="container__user-infor-field">
                    <label for="dob" class="container__user-infor-field-name">Ngày sinh:</label>
                    <div class="container__user-infor-field-input" id="dob">{{NgaySinh}}</div>
                </div>
                <div class="container__user-infor-field">
                    <label for="email" class="container__user-infor-field-name">Email:</label>
                    <div class="container__user-infor-field-input" id="email">{{Email}}</div>
                </div>
                <div class="container__user-infor-field">
                    <label for="PhoneNumber" class="container__user-infor-field-name">Tổ chuyên môn:</label>
                    <div class="container__user-infor-field-input" id="PhoneNumber">{{ToChuyenMon}}</div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function toggleDropdown() {
            var dropdownMenu = document.getElementById("myDropdown");
            dropdownMenu.style.display = (dropdownMenu.style.display === "none") ? "flex" : "none";
        }
    </script>
</body>