<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gakusei</title>
    <link rel="stylesheet" href="/server/src/scripts/trang-ca-nhan-script.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/trang-ca-nhan.css">
    <link rel="stylesheet" href="/fontawesome-free-6.4.0-web/css/all.min.css">
</head>

<body>
    <div class="app">
        <header class="header">
            <nav class="header__navbar">
                <div class="header__navbar-left">
                    <a href="/">
                        <button type="submit" class="button" style="width: 60px;">
                            <img src="/img/Logo.png" class="header__navbar-logo">
                        </button>
                    </a>

                    <div class="header__navbar-search">
                        <input type="text" class="header__navbar-input" placeholder="Tìm kiếm thông tin môn học">
                        <button type="submit" class="button" style="background-color: #fff;">
                            <i class="fa-solid fa-magnifying-glass icon"></i>
                        </button>
                    </div>
                </div>
                <ul class="header__navbar-list">
                    <li class="header__navbar-item">
                        <button type="button" class="button">
                            <div class="header__navbar-help separate">
                                <i class="fa-regular fa-circle-question"></i> Trợ giúp
                            </div>
                        </button>
                    </li>
                    <li class="header__navbar-item separate">
                        <a href="trang-ca-nhan">
                            <button type="button" class="button">
                                <div class="header__navbar-name" style="margin: 0;">
                                    <i class="fa-solid fa-user"></i> Trang cá nhân
                                </div>
                            </button>
                        </a>
                    </li>
                    <li class="header__navbar-item " style="margin: 0">
                        <form action="/dang-xuat?_method=DELETE" method="POST">
                            <button type="submit" class="button">
                                <div class="header__navbar-name" style="margin: 0;">
                                    <i class="fa-solid fa-user"></i> Đăng xuất
                                </div>
                            </button>
                        </form>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="container">
            <h1 class="container__title">Trang thông tin cá nhân</h1>

            <div class="container__user-infor">
                <div class="container__user-infor-field">
                    <!-- <label for="avatar" class="container__user-infor-field-name"></label> -->
                    <img id="avatar" src="unknow.png" alt="Ảnh đại diện"
                        class="container__user-infor-field-input avatar">
                </div>
                <div class="container__user-infor-field">
                    <label for="name" class="container__user-infor-field-name">Họ và tên:</label>
                    <div class="container__user-infor-field-input" id="name">{{HoTen}}</div>
                </div>
                <div class="container__user-infor-field">
                    <label for="id" class="container__user-infor-field-name">MSHS:</label>
                    <div class="container__user-infor-field-input" id="id">{{MSHS}}</div>
                </div>
                <div class="container__user-infor-field">
                    <label for="place" class="container__user-infor-field-name">Lớp:</label>
                    <div class="container__user-infor-field-input" id="place">{{TenLop}}</div>
                </div>
                <div class="container__user-infor-field">
                    <label for="dob" class="container__user-infor-field-name">Ngày sinh:</label>
                    <div class="container__user-infor-field-input" id="dob">{{NgaySinh}}</div>
                </div>
                <div class="container__user-infor-field">
                    <label for="email" class="container__user-infor-field-name">Giới tính:</label>
                    <div class="container__user-infor-field-input" id="email">{{GioiTinh}}</div>
                </div>
                <div class="container__user-infor-field">
                    <label for="PhoneNumber" class="container__user-infor-field-name">Số điện thoại:</label>
                    <div class="container__user-infor-field-input" id="PhoneNumber">{{SDT}}</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>